.how-it-works {
   position: relative;
   height: 150vw;
   &__content {
      position: fixed;
      left: 50%;
      top: 0;
      bottom: 0;
      transform: translate(-50%, 0);
      /* width: max-content; */
      width: 100%;
      gap: 5rem;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 75rem;
      gap: 10rem;
   }
   &__photo {
      width: 31.5rem;
      img {
         border-radius: 50%;
         width: 31.5rem;
         height: 31.5rem;
      }
   }
   &__text {
      width: 29rem;
      align-self: flex-start;
      &-inner {
         position: absolute;
         right: 0;
         padding-top: calc((100vh - 31.5rem) / 2);
         top: 0;
         bottom: 0;
         overflow: auto;
         width: 29rem;
      }
   }
   &__title-1 {
      font-weight: bold;
      @apply text-primary font-secondary;
      text-transform: uppercase;
      font-size: 2.7rem;
      line-height: calc(33 / 27);
      margin-bottom: 1rem;
   }
   &__number {
      @apply font-therd;
      font-weight: bold;
      font-size: 7.1rem;
      letter-spacing: -0.05em;
      line-height: 1;
      margin-bottom: 0.3rem;
   }
   &__title-2 {
      font-weight: bold;
      @apply text-primary font-secondary;
      text-transform: uppercase;
      font-size: 2.7rem;
      line-height: calc(33 / 27);
   }
   &__desc {
      font-size: 1.5rem;
      @apply text-primary;
   }
   &__main-desc {
      padding-top: 6.5rem;
   }
}
.how-it-works-steps {
   color: #95b6e8;
   line-height: calc(24 / 18);
   padding-bottom: 3rem;
   li {
      padding-bottom: 2.5rem;
      padding-left: 2.5rem;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 0.5em;
         left: 0;
         width: 0.7rem;
         height: 0.7rem;
         border-radius: 50%;
         background-color: #95b6e8;
      }
      &:not(:last-child)::after {
         content: "";
         position: absolute;
         top: calc(0.5em + 0.7rem + 1.35rem);
         left: 0.15em;
         background-color: #d467d9;
         width: 1px;
         bottom: 0.5rem;
      }
   }
}
