.logo {
   position: fixed;
   top: 0;
   left: 0;
   width: 15.6rem;
   height: 15.6rem;
   background-image: url(../img/Neon_00053.webp);
   background-size: contain;
   z-index: 5;
   mix-blend-mode: lighten;
   left: 1.5rem;
   top: 1.5rem;
}
.main-wrapper-inner {
   overflow: hidden;
}
.main-screen {
   position: relative;
   z-index: 3;
   .container {
      height: 150vh;
      position: relative;
   }
   &__ills {
      position: fixed;
      top: 62%;
      left: 50%;
      width: 129.3rem;
      height: 99.6rem;
      transform: translate(-50%, -50%);
   }
   &__bg {
      position: fixed;
      top: -60%;
      left: 45%;
      width: 100%;
      transform: translate3d(-50%, 0, 0);
      right: 10%;
      bottom: 0;
      background-image: url(../img/main-bg.png);
      background-size: cover;
      background-position: center;
      filter: blur(5rem);
      will-change: transform, opacity;
   }
   &__pig {
      position: absolute;
      top: -5%;
      left: 11%;
      background-image: url(../img/main-pig.png);
      width: 88.2rem;
      height: 88.2rem;
      background-size: contain;
      background-position: center;
      transform: rotate(160deg);
      transform-origin: center;
      /* transform: translate(-70%, -10%) rotate(213deg); */
   }
   &__text {
      position: absolute;
      top: 22%;
      left: 51.5%;
      z-index: 3;
      font-size: 6.1rem;
      @apply font-therd;
      text-transform: uppercase;
      line-height: 1;
      font-weight: bold;
      transform: rotate(-15deg);
      overflow: hidden;
      padding: 0 1rem 0 5rem;
      span {
         display: block;
         letter-spacing: -0.072em;
         position: relative;
      }
      img {
         width: 5rem;
         height: 5rem;
         border-radius: 50%;
         display: inline-block;
         vertical-align: middle;
         margin-left: 0.4rem;
         margin-top: -0.7rem;
      }
      &-message {
         span:first-child::before {
            content: "“";
            position: absolute;
            top: 0;
            left: -1.5rem;
            transform: translateX(-100%);
         }
      }
      &-author {
         font-weight: 300;
         font-size: 2.3rem;
         letter-spacing: 0.02em;
         margin-top: 1em;
      }
   }
   &__coins {
      position: absolute;
      top: -12%;
      left: 15%;
      width: 129.3rem;
      height: 99.6rem;

      i {
         position: absolute;
         background-size: contain;
         &:nth-child(1) {
            background-image: url(../img/coin-1.png);
            width: 15.1rem;
            height: 14.3rem;
            top: 56.7rem;
            left: 9.8rem;
            /* transform: rotate(0deg); */
            transform: rotate(-66deg);
         }
         &:nth-child(2) {
            background-image: url(../img/coin-2.png);
            width: 4.5rem;
            height: 5rem;
            top: 21.4rem;
            left: 18.3rem;
            transform: rotate(115deg);
         }
         &:nth-child(3) {
            background-image: url(../img/coin-3.png);
            width: 4.5rem;
            height: 5rem;
            top: 66.4rem;
            left: 65.6rem;
            transform: rotate(115deg);
         }
         &:nth-child(4) {
            background-image: url(../img/coin-4.png);
            width: 14.1rem;
            height: 15.8rem;
            top: 79.4rem;
            left: 73.7rem;
            /* transform: rotate(0deg); */
            transform: rotate(59deg);
         }
         &:nth-child(5) {
            background-image: url(../img/coin-5.png);
            width: 8.4rem;
            height: 4.8rem;
            left: 0;
            top: 41.8rem;
            transform: rotate(79deg);
         }
         &:nth-child(6) {
            background-image: url(../img/coin-6.png);
            width: 19rem;
            height: 10.9rem;
            left: 110.3rem;
            top: 43.9rem;
            transform: rotate(0deg);
         }
         &:nth-child(7) {
            background-image: url(../img/coin-7.png);
            width: 8.5rem;
            height: 17.8rem;
            top: 16.2rem;
            left: 78.8rem;
            /* transform: rotate(0deg); */
            transform: rotate(-58deg);
         }
         &:nth-child(8) {
            background-image: url(../img/coin-8.png);
            width: 22.4rem;
            height: 16.3rem;
            left: 40rem;
            top: 1.5rem;
            transform: rotate(-34deg);
         }
      }
   }
}

.main-bg {
   background-image: url(../img/main-bg-2.jpg);
   background-size: auto 200%;
   background-repeat: repeat-x;
   background-position: 0% 50%;
   z-index: -1;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 100vw;
      top: 100%;
      padding-bottom: 100%;
      background-image: url(../img/sub-main-bg.jpg);
      background-size: cover;
      background-position: center;
      z-index: -1;
   }
}
